@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Cores Semânticas do Projeto */
  --color-text-primary: #1A1A1A;    /* Títulos e números */
  --color-text-secondary: #6B7280;  /* Cargo/Role */
  --color-text-tertiary: #9CA3AF;   /* Labels e descrições */
  --color-text-button: #374151;     /* Botão Mensagem */
  
  --color-card-overlay: rgba(0, 0, 0, 0.1); /* Background do header do card */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-text-primary);
  --color-secondary: var(--color-text-secondary);
  --color-tertiary: var(--color-text-tertiary);
  --color-btn-text: var(--color-text-button);
  --color-overlay: var(--color-card-overlay);
  --font-inter: "Inter", sans-serif; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}
